<% provide:title,(t "home") %>
<div class="center jumbotron">
  <h1><%= t "welcome" %></h1>
  <h2>
    <%= raw t("welcome_content",
    welcome_section_link: link_to((t "welcome_section"), "https://www.railstutorial.org")
    )%>
  </h2>
  <%= link_to (t "signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
